$spacing = {}

$spacing.unit  = $font.line-height

// Smaller
$spacing.small = $spacing.unit / 2
$spacing.tiny  = $spacing.small / 2

// Bigger
$spacing.big   = $spacing.unit * 2
$spacing.large = $spacing.big * 2
