$color = {}

$color.white = white
$color.black = black

$color.neutral-lightest = #ECEFF1
$color.neutral          = grey
$color.neutral-darkest  = #263238

$color.primary = #795548

$color.accent = #00BCD4
