doctype 5
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width')
		title Stylus Presentation Architecture
		link(rel="stylesheet", href="/main.css")

	body
		h1 Stylus Presentation Architecture
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nobis numquam magni ex voluptatem! Rem, fuga voluptatem quos accusamus. Nihil quo, quod magni nobis vero porro praesentium corporis totam cupiditate?
