doctype 5
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width')
		title Stylus Presentation Architecture
		link(rel="stylesheet", href="/main.css")

	body
		.title Stylus Presentation Architecture
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nobis numquam magni ex voluptatem! Rem, fuga voluptatem quos accusamus. Nihil quo, quod magni nobis vero porro praesentium corporis totam cupiditate?

		img(src='http://placekitten.com/100/100')
		img(src='http://placekitten.com/200/100', width='200')
